<div class="footer-menu">

    <p>GoEats</p>
    <div class="footer-img">
        <img src="/17.png" alt="">
        <img src="/16.png" alt="">
    </div>
  <ul>
    <li>Obtén ayuda</li>
    <li>Compras tarjetas de regalo</li>
    <li>Agrega tu restaurante</li>
    <li>Regístrate para realizar entregas</li>
    <li>Crear cuenta de negocios </li>
    <li>Promociones</li>
  </ul>
  <hr>
  <div class="redes-sociales">
    <img src="/18.png" alt="">
    <img src="/19.png" alt="">
    <img src="/20.png" alt="">

  </div>
  <div class="footer-2">
    <div class="propiedades">
     <ul>
        <li>Politica de privacidad</li>
        |
        <li>Términos</li>
        |
        <li>Tarifas</li>
    </ul>
    <div class="footer-3">
        <p>Se aplican la politica  de privacidad  y los Terminos del servicio.</p>
    </div>
    </div>
  </div>
</div>
