<div class="container">
    <!--Parte superior-->
<header class="header">
<app-header></app-header>
</header>
<!--Asignacion del layout-->
<div class="layout">
    <!--Aside a la izquierda-->
<aside class="aside">
<app-aside></app-aside>
</aside>
<div class="right-section">
    <!--NavBar en la parte superior derecha-->
<nav class="navbar">
<app-navbar></app-navbar>
</nav>
<!--Main y Aside Panel debajo del Navbar-->
<div class="content">
<main class="main">
<app-main></app-main>
</main>
<aside class="aside-panel">
<app-aside-panel></app-aside-panel>
</aside>
</div>
</div>
</div>
<!--Footer en la parte inferior -->
<footer class="footer">
<app-footer></app-footer>
</footer>
</div>

